<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>DLabs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <h1>Dealabs</h1>
    <a href="postDeal.html">Poster</a>
    <a href="login.html">Se Connecter</a>
    <a href="signin.html">S'inscrire</a>
    <ul>
        <li style="list-style-type:none" v-for="deal in deals">
            <div class="deals-card">
                <a :href="'deal.html?id=' + deal.id">
                    <img class="deals-image" :src="deal.imgUrl"/>
                    <div class="deals-body">
                        <h1 class="deals-temperature">
                            {{ deal.temperature }}°C
                        </h1>
                        <h2 class="deals-title">
                            {{ deal.title }}
                        </h2>
                        <h3 class="deals-subtitle">
                            {{ deal.creator }} | {{ deal.shopName }}
                        </h3>
                    </div>
                </a>
                <p class="deals-date">{{ deal.date }}</p>
                <a class="deals-shop" :href="deal.shopLink" target="_blank">Voir</a>
            </div>
        </li>
    </ul>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="deals-script.js"></script>
</html>