<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>DLabs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <h1>Dealabs</h1>
    <div class="deal">
        <div class="deal-card">
            <img class="deals-image" :src="deal.imgUrl"/>
            <div class="deals-body">
                <h1 class="deals-temperature">
                    {{ deal.temperature }}°C
                </h1>
                <h2 class="deals-title">
                    {{ deal.title }}
                </h2>
                <h3 class="deals-subtitle">
                    {{ deal.creator }} | {{ deal.shopName }}
                </h3>
            </div>
            <p class="deals-date">{{ deal.date }}</p>
            <a class="deals-shop" :href="deal.shopLink" target="_blank">Voir</a>
        </div>
        <div class="centered bottom">
            <div class="promoCode">
                {{ deal.promoCode }}
            </div>
            <div class="price">
                {{ deal.priceOld }} > {{ deal.priceNew }} ({{ deal.percentage }}% de remise)
            </div>
            <div class="left description">
                {{ deal.description }}
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="deal-script.js"></script>
</html>