.deals-card {
    position: relative;
    border: 2px ridge rgba(120, 110, 128, 0.6);
    margin: 5px 0px 5px 0px;
    width: 80%;
}

.deal-card {
    position: relative;
    margin: 5px 0px 5px 0px;
    display: flex;
}

.deals-card:hover {
    border: 2px ridge rgba(39, 36, 42, 0.6);
    background-color: #e8e8e8;
}

.deals-card a {
    color: black;
    text-decoration: none;
    display: flex;
}

.deal-card a {
    color: black;
    text-decoration: none;
}

.deals-card a:hover {
    color: #464646;
}

.deal-card a:hover {
    color: #464646;
}

.deals-image {
    margin: 10px;
}

.deals-shop {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border: solid;
    box-shadow: 2px 3px 3px #3f3f3f;
    background-color: white;
}

.deals-date {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.centered {
    text-align: center;
}

.left {
    text-align: left;
}

.bottom div {
    border: 1px solid #4f4f4f;
    margin: 10px 0px 10px 0px;
}

.deal {
    border: 2px ridge rgba(120, 110, 128, 0.6);
    padding: 10px;
}